!!! 5
%html
	%head
		%title Darkroom: Big Flickr Slideshow - Error
		!= haml(:"_head", :layout => false)
	%body
		#error
			%h1 
				%a{:href => "/"}
					Darkroom
			%p
				:markdown
					User '*#{@username}*' not found
		!= haml(:"_stats", :layout => false)