!!! 5
%html
	%head
		%title Darkroom: Big Flickr Slideshow - Error
		%link{:rel => "stylesheet", :href => "/enamel_brush.css"}
		%link{:rel => "stylesheet", :href => "/adelle_basic.css"}
		%link{:rel => "stylesheet", :href => "#{@root}/style.css"}
	%body
		#error
			%h1 
				%a{:href => "/"}
					Darkroom
			%p
				:markdown
					User '*#{@username}*' not found