!!! 5
%html
	%head
		%title Darkroom: A big Flickr slideshow by Jim Whimpey
		!= haml(:"_head", :layout => false)
	%body
		#home
			%h1 Darkroom
			%p{:id => "blurb"} 
				A big Flickr slideshow by 
				%a{:href => "http://jimwhimpey.com"} Jim Whimpey
			%h2 Usage
			%ul{:class => "urls"}
				:markdown
					* http://darkroom.heroku.com/photos/*Flickr+Username*
					* http://darkroom.heroku.com/photos/*Flickr+Username*/sets
					* http://darkroom.heroku.com/photos/*Flickr+Username*/sets/*Set+ID*
			%h2 Examples
			%ul{:class => "urls"}
				%li
					%a{:href => "/photos/jimwhimpey"} http://darkroom.heroku.com/photos/jimwhimpey
				%li
					%a{:href => "/photos/Amine+Benboubker/sets"} http://darkroom.heroku.com/photos/Amine+Benboubker/sets
				%li
					%a{:href => "/photos/96dpi/sets/72157616577741876"} http://darkroom.heroku.com/photos/96dpi/sets/72157616577741876
			%h2 Bookmarklet
			%p
				:plain
					<a href="javascript:var%20url%20=%20document.location.href;if%20(url.match(/flickr\.com\/photos\/[a-zA-Z0-9]+\/?$/ig))%20{var%20heading%20=%20document.body.getElementsByTagName(%22h1%22)[0].innerHTML;var%20split%20=%20heading.split(%22%27%22,%201);var%20username%20=%20%22%22;if%20(split[0].match(/Your\s/gi))%20{topbar%20=%20document.getElementById(%22TopBar%22);username%20=%20topbar.getElementsByTagName(%22a%22)[1].innerHTML;window.location%20=%20%22http://darkroom.heroku.com/photos/%22%20+%20username;}%20else%20{username%20=%20split[0];username%20=%20username.replace(/^\s*/,%20%27%27).replace(/\s*$/,%20%27%27);username%20=%20username.replace(/\s/gi,%20%27+%27);window.location%20=%20%22http://darkroom.heroku.com/photos/%22%20+%20username;}}%20else%20if%20(url.match(/flickr\.com\/photos\/[a-zA-Z0-9]+\/sets\/[0-9]+\/?$/ig))%20{var%20setID%20=%20url.match(/[0-9]+\/?$/gi)[0];var%20crumbs%20=%20document.getElementById(%22setCrumbs%22);username%20=%20crumbs.getElementsByTagName(%22a%22)[0].innerHTML;username%20=%20username.replace(/^\s*/,%20%27%27).replace(/\s*$/,%20%27%27);username%20=%20username.replace(/\s/gi,%20%27+%27);window.location%20=%20%22http://darkroom.heroku.com/photos/%22%20+%20username%20+%20%22/sets/%22%20+%20setID;}" id="bookmarklet">Darkroomify</a>
			%p
				Drag that link into your bookmarks bar. Click it on any Flickr user's photos homepage or set view page to 
				be redirected to the corresponding page on Darkroom.
			%h2 Why?
			%p
				:markdown
					The photo size on Flickr photo pages is too small and you can't navigate between photos
					in any larger view besides the (Flash, yuck!) slideshow. Darkroom presents photos nice and big with the 
					best kind of navigation, scrolling.
					[I Hardly Know Her](http://ihardlyknowher.com/) tackled this problem long before Darkroom but falls 
					tantalisingly short. Plus, I wanted to learn Ruby, HAML, SASS and Sinatra.
		!= haml(:"_stats", :layout => false)