!!! 5
%html
	%head
		%title Darkroom: Big Flickr Slideshow
		%link{:rel => "stylesheet", :href => "/enamel_brush.css"}
		%link{:rel => "stylesheet", :href => "/adelle_basic.css"}
		%link{:rel => "stylesheet", :href => "/style.css"}
	%body
		#home
			%h1 Darkroom
			%p{:id => "blurb"} 
				A big Flickr slideshow by 
				%a{:href => "http://jimwhimpey.com"} Jim Whimpey
			%h2 Usage
			%p http://darkroom.heroku.com/photos/[Flickr username]
			%h2 Examples
			%ul
				%li
					%a{:href => "/photos/jimwhimpey"} http://darkroom.heroku.com/photos/jimwhimpey
				%li
					%a{:href => "/photos/lachlan+hardy"} http://darkroom.heroku.com/photos/lachlan+hardy
				%li
					%a{:href => "/photos/Avanaut"} http://darkroom.heroku.com/photos/Avanaut
			%h2 Why?
			%p
				:markdown
					The photo size on Flickr photo pages is too small and you can't navigate between photos
					in any larger view besides the (Flash, yuck!) slideshow. Darkroom presents photos nice and big with the 
					best kind of navigation, scrolling.
					[I Hardly Know Her](http://ihardlyknowher.com/) tackled this problem long before Darkroom but falls 
					tantalisingly short. Plus, I wanted to learn Ruby, HAML, SASS and Sinatra.
			%h2 To Do
			%ul{:id => "todo"}
				%li Make faster
				%li Set view
				%li Tag view
			%h2 Code
			%p
				Is free to use at 
				%a{:href => "http://github.com/jimwhimpey/Darkroom"} github.com/jimwhimpey/Darkroom
		= render :partial => "_stats"