// ==========================================
// Reset everything

@import reset.sass


// ==========================================
// SASS stuff for use later

=transistion(!argue)
	-webkit-transition = !argue
	transition = !argue
	
=border-radius(!radius)
	border-radius = !radius
	-moz-border-radius = !radius
	-webkit-border-radius = !radius
	
=block
	width: 1260px
	overflow: hidden
	padding: 20px
	border-top: 1px solid #222
	background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#111), to(#000))


// ==========================================
// Body and site wide wrappers

body
	background: #000
	color: #FFF
	font-family: Helvetica, Verdana, sans-serif
	
#wrapper
	width: 1300px
	margin: 20px auto
	
a
	text-decoration: none

a:hover
	border-bottom: 1px solid #666


// ==========================================
// Header

#header
	height: 58px
	position: relative
	padding-bottom: 0
	+block
	*
		opacity: 0.7
		+transistion("opacity 0.5s linear")
	img
		float: left
		margin: 0 20px 0 0
		border: 5px solid #111
	h1
		font:
			size: 18px
			family: "AdelleBasicBold", Helvetica, sans-serif
		margin: 10px 0 8px 0
		color: #777
		a
			color: #777
	p#blurb
		color: #666
		font:
			weight: normal
			size: 14px
	#darkroom
		position: absolute
		top: 35px
		right: 40px
		text-align: right
		a
			font:
				family: "EnamelBrushRegular", Helvetica, sans-serif
				size: 35px
			color: #FFF
	
#header:hover *
	opacity: 1


// ==========================================
// List of the Flickr photos

ul#photos
	padding: 40px 0 0 0
	line-height: 1.5em
	li
		+block
		margin: 0 0 20px 0
		img
			float: left
			margin: 0 20px 0 0
	
.details
	float: left
	width: 210px
	opacity: 0.4
	+transistion("opacity 0.5s linear")
	a
		color: #777
	h2
		font-size: 18px
		font-weight: bold
	p	
		font-size: 14px
		color: #555
		margin: 10px 0 0 0
	p.comments
		font-style: italic

ul li:hover .details
	opacity: 1
	


// ==========================================
// Navigation

#nav
	text-align: center
	position: relative
	height: 60px
	+block
	a
		color: #666
	span
		font:
			size: 40px
			family: "Times New Roman", serif
		letter-spacing: 0
	.nav
		font:
			size: 30px
			family: "AdelleBasicBold", Helvetica, sans-serif
		text-transform: uppercase
		letter-spacing: 0.2em
		position: absolute
		top: 20px

#nav>*
	opacity: 0.4
	+transistion("opacity 0.5s linear")
	
#nav:hover>*
	opacity: 1
	
#nav #older
	text-align: left
	left: 20px

#nav #newer
	text-align: right
	right: 20px
	
#footer
	font-size: 14px
	color: #333
	padding: 15px 0 0 0
	
	
// ==========================================
// Home Page

#home,
#error
	width: 500px
	margin: 60px auto 0 auto
	line-height: 1.5em
	h1
		font:
			family: "EnamelBrushRegular", Helvetica, sans-serif
			size: 55px
		margin: 0 0 10px 0
		color: #FFF
	p, ul
		color: #B3B3B3
		font-size: 14px
	a
		color: #FF6FCF
	a:hover
		border-bottom: 1px solid #FF6FCF
	p#blurb
		color: #fff
	h2
		border-top: 1px solid #222
		padding: 20px 0 0 0
		margin: 20px 0 6px 0
		color: #FFF
	ul.urls
		font:
			family: Monaco, Consolas, "Courier News", monospace
		li em
			color: #6CF
		
a#bookmarklet
	display: block
	background: #848484
	+border-radius("10px")
	color: #FFF
	text-shadow: #000 0 1px 0
	text-align: center
	padding: 3px 7px
	width: 76px
	margin: 10px 0 10px 0
	line-height: 1em
	font:
		size: 12px
		weight: bold
		
a#bookmarklet:hover
	border-bottom: none
	
	

// ==========================================
// Error Page

#error
	text-align: center
	h1
		font-size: 35px
		margin-bottom: 80px
	p
		font-size: 16px
		em
			color: #CCC
			font-style: normal


// ==========================================
// Sets Page

#sets
	margin-top: 40px
	+block
	ul li
		background-image: none
		margin: 0 10px 10px 0
		float: left
		opacity: 0.5
		+transistion("opacity 0.5s linear")
		a
			display: block
			padding: 10px
			color: #999
		a:hover
			color: #fff
			border-bottom: none
			
#sets:hover ul li
	opacity: 1