@import url(/font_enamel_brush.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: black;
  color: white;
  font-family: Helvetica, Verdana, sans-serif; }
  body #wrapper {
    width: 1300px;
    margin: 20px auto; }
  body a {
    text-decoration: none; }
  body a:hover {
    border-bottom: 1px solid #666; }

#header {
  height: 58px;
  position: relative;
  padding-bottom: 0;
  width: 1260px;
  overflow: hidden;
  padding: 20px;
  border-top: 1px solid #222;
  background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#111111), to(black)); }
  #header img {
    float: left;
    margin: 0 20px 0 0;
    border: 5px solid #111111; }
  #header h1 {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    margin: 10px 0 8px 0;
    color: #FFF; }
    #header h1 a {
      color: #777777; }
  #header h1#setheader {
    margin: 17px 0 0 0; }
  #header p#blurb {
    color: #666;
    font-weight: bold;
    font-size: 14px; }
  #header #darkroom {
    position: absolute;
    top: 35px;
    right: 40px;
    text-align: right; }
    #header #darkroom a {
      font-family: "EnamelBrushRegular", Helvetica, sans-serif;
      font-size: 35px;
      color: white; }

ul#photos {
  padding: 40px 0 0 0;
  line-height: 1.5em; }
  ul#photos li {
    width: 1260px;
    overflow: hidden;
    padding: 20px;
    border-top: 1px solid #222;
    background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#111111), to(black));
    margin: 0 0 20px 0; }
    ul#photos li img {
      float: left;
      margin: 0 20px 0 0; }
    ul#photos li .details {
      float: left;
      width: 210px; }
      ul#photos li .details a {
        color: #777; }
      ul#photos li .details h2 {
        font-size: 18px;
        font-weight: bold; }
      ul#photos li .details p {
        font-size: 14px;
        color: #555555;
        margin: 10px 0 0 0; }
      ul#photos li .details p.comments {
        font-style: italic; }

#nav {
  text-align: center;
  position: relative;
  height: 60px;
  width: 1260px;
  overflow: hidden;
  padding: 20px;
  border-top: 1px solid #222;
  background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#111111), to(black)); }
  #nav a {
    color: #FFF; }
  #nav span {
    font-size: 35px;
    font-family: "Times New Roman", serif;
    letter-spacing: 0; }
  #nav .nav {
    font-size: 24px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: absolute;
    top: 20px; }
  #nav #older {
    text-align: left;
    left: 20px; }
  #nav #newer {
    text-align: right;
    right: 20px; }
  #nav #footer {
    font-size: 14px;
    color: #666;
    padding: 15px 0 0 0; }
    #nav #footer a {
      color: #999; }

#home,
#error {
  width: 500px;
  margin: 60px auto 0 auto;
  line-height: 1.5em; }
  #home h1,
  #error h1 {
    font-family: "EnamelBrushRegular", Helvetica, sans-serif;
    font-size: 55px;
    margin: 0 0 10px 0;
    color: white; }
  #home p, #home ul,
  #error p,
  #error ul {
    color: #b3b3b3;
    font-size: 14px; }
    #home p a#bookmarklet, #home ul a#bookmarklet,
    #error p a#bookmarklet,
    #error ul a#bookmarklet {
      display: block;
      background: #848484;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      color: white;
      text-shadow: black 0 1px 0;
      text-align: center;
      padding: 3px 7px;
      width: 76px;
      margin: 10px 0 10px 0;
      line-height: 1em;
      font-size: 12px;
      font-weight: bold; }
    #home p a#bookmarklet:hover, #home ul a#bookmarklet:hover,
    #error p a#bookmarklet:hover,
    #error ul a#bookmarklet:hover {
      border-bottom: none; }
    #home p del, #home ul del,
    #error p del,
    #error ul del {
      opacity: 0.5; }
  #home p.why,
  #error p.why {
    margin-top: 10px; }
  #home a,
  #error a {
    color: #ff6fcf; }
  #home a:hover,
  #error a:hover {
    border-bottom: 1px solid #ff6fcf; }
  #home p#blurb,
  #error p#blurb {
    color: white;
    font-weight: bold; }
  #home h2,
  #error h2 {
    border-top: 1px solid #222222;
    padding: 20px 0 0 0;
    margin: 20px 0 6px 0;
    color: white; }
  #home ul.urls,
  #error ul.urls {
    font-family: Monaco, Consolas, "Courier News", monospace; }
    #home ul.urls li em,
    #error ul.urls li em {
      color: #66ccff; }

#error {
  text-align: center; }
  #error h1 {
    font-size: 35px;
    margin-bottom: 80px; }
  #error p {
    font-size: 16px; }
    #error p em {
      color: #CCC;
      font-style: normal; }

#sets {
  margin-top: 40px;
  width: 1260px;
  overflow: hidden;
  padding: 20px;
  border-top: 1px solid #222;
  background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#111111), to(black)); }
  #sets ul li {
    background-image: none;
    margin: 0 10px 10px 0;
    float: left; }
    #sets ul li a {
      display: block;
      padding: 10px;
      color: #999; }
    #sets ul li a:hover {
      color: white;
      border-bottom: none; }
